
header{

}
#cpanel[role="menu"]{
	position: absolute;
	height: 100%;
	background-color:var(--info);

}
#content[role="main"]{
	min-height: 100vh;
}
body.small{

}


body.small #cpanel[role="menu"]{
	width: 80px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	left: 0;
}

body.small #cpanel[role="menu"] li{
	border-bottom: 1px solid #ddd;
	padding: 0;
}
body.small #cpanel[role="menu"] li a{
	display: block;
	padding: 10px;
}
body.small #cpanel[role="menu"] li a span{
	display: none;
}
body.small #cpanel[role="menu"] li a i{
	font-size: 24px;
	color: #FFF;
}

body.small .submenu{
	border-right: 1px solid #ddd;
	margin-left: 65px;
	position: absolute;
	height: 100%;
	width: calc(100% - 80px);
	
	padding-top: 0px;
}
body.small .submenu .list-group-flush .list-group-item{
	padding-left: 15px;
	padding-right: 15px;
	background-color: transparent;
}
body.small .submenu .list-group-flush .list-group-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
body.small .submenu .list-group-flush .list-group-item ul li{
	padding-left: 15px;
	line-height: 25px;
}
body.small .submenu .title{
	padding-left: 15px;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}
.panel{
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 15px;
	padding-top: 15px;
}
.panel .breadcrumb{
	
	background-color: transparent;
}

body.small #content[role="main"]{
	
}

body#fullsize #cpanel{

}
body#fullsize #content{
	
}

.media{
	min-height: 300px;
}


.listTree ul{
	list-style: none;
	padding:0;
	margin:0;  
	padding-left:18px;
}
.listTree ul ul {border-left:1px dotted;}
.listTree ul li{
	line-height: 30px;
	
	padding-left: 15px;
	position: relative;

}
.listTree ul li a{
	display: inline-flex;
}
.listTree ul li:before{
	content: "--";
	position: absolute;
	left: 0px;
	border-left:1px dotted;
}

footer{
	
	max-height: 50px;
	height: 50px;
}